doctype html
html(lang='hr')
  head
    title Iva Rezo
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='author' content='Iva Rezo')
    meta(name='keywords' content='pracenje posjeta')
    meta(name='application-name' content='Pracenje putovanja i znamenitosti')
    meta(name='description' content='Pracenje putovanja i znamenitosti')
    link(rel='stylesheet' type='text/css' href='/stylesheets/opcenito.css')
  body.k_kutija
    header.k_header
      h1#naslov_stranice
        a(href='/') EARTHRACE
      a(href='')
        img#slika_logo(alt='Logo earthrace' src='/images/earth_race.jpeg')
    nav.k_navigacija
      ul
        li
          a(href='/') Početna
        li
          a(href='putovanja') Putovanja
        li
          a(href='pregledLokacija') Pregled Lokacija
        li
          a(href='odjava') Odjava
    section#sadrzaj_pocetne.k_sadrzaj
      p U ovoj aplikaciji možete pratiti Vaša putovanja i označavati znamenitosti koje ste vidjeli.
      p Sve znamenitosti mogu se vidjeti na stranici Pregled Lokacija.
      p FORUM:
      <a href="https://putnikofer.hr/preporuke/gdje-jeftino-putovati-najjeftinije-destinacije-za-putovanja-u-2023-godini/" target="_blank">- Najjeftinija putovanja u 2023. godini</a>
      br
      <a href="https://miss7.24sata.hr/lifestyle/12-najboljih-mjesta-za-putovanje-u-2023-godini-od-totalne-egzotike-do-susjedne-italije-44310" target="_blank">- 12 najboljih mjesta za putovanje u 2023. godini</a>
    footer.k_footer
      address
        | Kontakt: Iva Rezo
     
